<!-- flex container displaying children as a column -->
<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
  <md-toolbar color="primary" class="mat-elevation-z10">
    <md-icon>favorite</md-icon> Center for Peoples Who Can't Find Love
  </md-toolbar>

  <!-- this flex item takes the rest of the screen in height -->
  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" align="end" opened class="mat-elevation-z6">

      <!-- adding some tabs for the details -->
      <md-tab-group>
        <md-tab label="About"></md-tab>
        <md-tab label="Messages"></md-tab>
        <md-tab label="Photos"></md-tab>
      </md-tab-group>

    </md-sidenav>

    <md-grid-list cols="4" rowHeight="250px">
      <md-grid-tile *ngFor="let model of models" [rowspan]="model.rows" [colspan]="model.cols">
        <img src="assets/{{model.name}}.png" alt="model {{model.name}}">

	      <!-- new footer! -->
	      <md-grid-tile-footer>
		      <h3 md-line>{{model.name}}</h3>
		      <span md-line>{{model.status}}</span>
		      <button md-icon-button (click)="showDetails(model)">
			      <md-icon>info</md-icon>
		      </button>
	      </md-grid-tile-footer>

      </md-grid-tile>
    </md-grid-list>

  </md-sidenav-container>
</section>