/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

   //some basic resets
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app{
  height: 100vh;
}

md-toolbar {
  z-index: 10;
}

md-sidenav {
  width: 40vw;
}

md-card {
  margin: 12px;
}

$md-toolbar-height: 64px;
$md-tab-header-height: 48px;
.mat-tab-body{
  height: calc(100vh - #{$md-tab-header-height} - #{$md-toolbar-height});
}

.tab-actions{
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
